DbmsWcfClient/Connected Services/DbmsServiceReference/DbmsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DbmsWcfService.Models.Values" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DbmsWcfService.Models.Values" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63662/DbmsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DbmsWcfService.Models.Types" />
  <xs:import schemaLocation="http://localhost:63662/DbmsService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Numerics" />
  <xs:import schemaLocation="http://localhost:63662/DbmsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Value" nillable="true" type="tns:Value" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfValue" nillable="true" type="tns:ArrayOfValue" />
  <xs:complexType name="Value">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DbmsWcfService.Models.Types" minOccurs="0" name="Type" nillable="true" type="q1:Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Value" nillable="true" type="tns:Value" />
  <xs:complexType name="String">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Value">
        <xs:sequence>
          <xs:element minOccurs="0" name="Val" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="String" nillable="true" type="tns:String" />
  <xs:complexType name="Real">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Value">
        <xs:sequence>
          <xs:element minOccurs="0" name="Val" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Real" nillable="true" type="tns:Real" />
  <xs:complexType name="Integer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Value">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Numerics" minOccurs="0" name="Val" type="q2:BigInteger" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Integer" nillable="true" type="tns:Integer" />
  <xs:complexType name="ColorInvl">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Value">
        <xs:sequence>
          <xs:element minOccurs="0" name="R" type="xs:unsignedByte" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ColorInvl" nillable="true" type="tns:ColorInvl" />
  <xs:complexType name="Color">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Value">
        <xs:sequence>
          <xs:element minOccurs="0" name="R" type="xs:unsignedByte" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Color" nillable="true" type="tns:Color" />
  <xs:complexType name="Char">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Value">
        <xs:sequence>
          <xs:element minOccurs="0" name="Val" type="ser:char" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Char" nillable="true" type="tns:Char" />
</xs:schema>