DbmsWcfClient/Connected Services/DbmsServiceReference/DbmsService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63662/DbmsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DbmsWcfService.Models" />
  <xs:import schemaLocation="http://localhost:63662/DbmsService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="CreateDatabase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dbName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDatabaseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatabase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dbName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatabaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DbmsWcfService.Models" minOccurs="0" name="GetDatabaseResult" nillable="true" type="q1:DatabaseInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDatabase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dbName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDatabaseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dbName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DbmsWcfService.Models" minOccurs="0" name="columns" nillable="true" type="q2:ArrayOfColumn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTableResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dbName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tableid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTableResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dbName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tableId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DbmsWcfService.Models" minOccurs="0" name="GetTableResult" nillable="true" type="q3:Table" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dbName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tableId" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="cells" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddRowResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dbName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tableId" type="xs:int" />
        <xs:element minOccurs="0" name="rowId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRowResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateCell">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dbName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tableId" type="xs:int" />
        <xs:element minOccurs="0" name="columnId" type="xs:int" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateCellResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCell">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dbName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tableId" type="xs:int" />
        <xs:element minOccurs="0" name="rowId" type="xs:int" />
        <xs:element minOccurs="0" name="columnId" type="xs:int" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCellResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableDifference">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dbName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="leftTableId" type="xs:int" />
        <xs:element minOccurs="0" name="rightTableId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableDifferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DbmsWcfService.Models" minOccurs="0" name="GetTableDifferenceResult" nillable="true" type="q5:Table" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TableExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dbName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tableId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TableExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TableExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>